/*
CONFIG CSS BY SHOLEHUD https://www.github.com/sholehud/
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
  --theme-color-1: #6aa6ff;
  --theme-color-2: #eaf2ff;
  --theme-color-3: #062655;
  --theme-color-4: #ffe896;
  --theme-color-5: #f3c319;
  --white: #ffffff;
  --black: #161616;
  --gray: #9c9c9c;
  --opacity: 0.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 12px;
  font-family: 'Rubik', sans-serif;
}

body {
  max-width: 425px;
  margin: 0 auto;
}

img {
  display: block;
}

a {
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
}

button {
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.heading,
.heading > .title {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0.8rem 0;
}

.sub-heading {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0.6rem 0;
}

.heading.center,
.sub-heading.center {
  text-align: center;
}

.button-menu {
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-menu:hover {
  color: var(--theme-color-4);
  cursor: pointer;
  border: 1px solid var(--white);
}

/* SECTION Colors */

.text-white {
  color: var(--white);
}

.text-blue {
  color: var(--theme-color-1);
}

.bg-soft-blue {
  background-color: var(--theme-color-2);
}

/* SECTION Header */

.header {
  background-color: var(--theme-color-1);
}

.header-top {
  background-color: var(--white);
  height: 32px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header ul li {
  list-style-type: none;
  color: var(--theme-color-3);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
  width: 100%;
}

.nav > .nav-items {
  display: flex;
  flex-direction: column;
}

.nav > .nav-items > .nav-item {
  width: 100%;
  padding: 0.4rem 0.8rem;
  margin: 0.4rem 0;
  border-radius: 6px;
}

.nav > .nav-items > .nav-item:hover {
  background-color: var(--theme-color-4);
}

.nav > .nav-items > .nav-item:hover .nav-link {
  color: var(--theme-color-5);
}

.nav > .nav-items > .nav-item > .nav-link {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
}

.brand {
  margin: 0.6rem 0;
  display: flex;
}

.brand > .title {
  display: inline-block;
  padding: 0 0.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.1rem;
}

.brand > .title:hover {
  color: var(--theme-color-4);
}

/* SECTION Hero */

.hero {
  position: relative;
  height: 468px;
}

.hero > .hero-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION Content */

.content {
  padding: 1.2rem 0;
}

a.card {
  text-decoration: none;
  line-height: normal;
  min-width: none;
  min-height: none;
  color: var(--theme-color-3);
}

.card {
  display: block;
}

.card > .card-container {
  padding: 0.8rem;
}

.card .card-container > .card-image {
  position: relative;
  margin-bottom: 0.8rem;
}

.card .card-container > .card-image > .card-image-info {
  position: absolute;
  text-transform: lowercase;
  bottom: 10px;
  left: 10px;
}

.card .card-container > .card-image > .fill {
  width: 100%;
  height: 256px;
  object-fit: cover;
  object-position: center;
}

.card .card-container > .card-body {
  padding: 0 0.8rem;
}

.card .card-container > .card-body > .card-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.card .card-container > .card-body > .card-detail {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0.8rem 0;
  line-height: 18px;
}

.card .card-container > .card-body > .card-detail span,
.card .card-container > .card-image > .card-image-info {
  color: var(--gray);
}

/* SECTION Layouting */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "main"
    "aside";
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

/* SECTION Footer */

footer {
  border-top: 1px solid var(--theme-color-2);
}

footer p {
  text-align: center;
}

footer a {
  font-weight: 500;
  text-decoration: none;
  color: var(--theme-color-1);
}
