<header class="header">
  <div class="header-top">
    <ul class="container">
      <li>{{ .Site.Params.company.email }}</li>
      <li>{{ .Site.Params.company.phone }}</li>
    </ul>
  </div>
  <div class="container navbar">
    <div class="brand">
      <a class="title" href="">{{ .Site.Params.company.shortname }}</a>
    </div>
    <button aria-label="button menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="button-menu"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="">home</a></li>
        <li class="nav-item"><a class="nav-link" href="">informations</a></li>
        <li class="nav-item"><a class="nav-link" href="">news</a></li>
        <li class="nav-item"><a class="nav-link" href="">profiles</a></li>
      </ul>
    </nav>
  </div>
</header>
